src/spring-hibernate/.project
src/spring-hibernate/.classpath
src/spring-hibernate/target/**
*.prefs
src/spring-hibernate/logapp.log
src/cxf/target/**
src/cxf/.project
src/cxf/.project
*.log
src/spring-hibernate/logapp.log
src/aop-example/target/classes/aspects-context.xml
src/aop-example/target/classes/example/aop/aspects/MalaOndaAfterAspect.class
src/spring-hibernate/logapp.log
src/aop-example/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
src/aop-example/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
src/aop-example/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
src/aop-example/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
src/cxf.rar
